<!DOCTYPE html>
<meta charset="utf-8">
<body>
  <header>
    <h1>MapDash</h1>
    <h2>realtime geographic dashboard</h2>
  </header>
  <section id="maps">
    <div id="heat-map" class="map"></div>
    <div id="world-map" class="map"></div>
  </section>
  <section>
    <form id="new-order">
      <input id="origin-address" type="text" name="origin" value="790 arkansas st, sf ca" placeholder="pickup location"/>
      <input id="destination-address" type="text" name="destination" value="4865 cr 48 argyle ny" placeholder="destination"/>
      <input type="submit" value="submit" />
    </form>
  </section>
</body>
