<!DOCTYPE html>
<meta charset="utf-8">
<body>
  <button id="addRandomOrder">Add Random Order</button>
  <br>
  <section id="maps">
    <div id="heat-map" class="map"></div>
    <div id="world-map" class="map"></div>
  </section>
</body>
