<!DOCTYPE html>
<meta charset="utf-8">
<body>
  <div id="container">
  <header>
    <h1>MapDash</h1>
    <h2>realtime geographic dashboard</h2>
  </header>
  <section id="maps">
    <div id="heat-map" class="map"></div>
    <div id="world-map" class="map"></div>
  </section>
  <section>
    <form id="new-order">
      <input tabindex="1" id="origin-address" type="text" name="origin" placeholder="pickup location"/>
      <input tabindex="2" id="destination-address" type="text" name="destination" placeholder="destination"/>
      <input tabindex="3" type="submit" value="Create Order" />
    </form>
  </section>
  </div>
</body>
