<!DOCTYPE html>
<meta charset="utf-8">
<body>
  <header>
    <h1>MapDash</h1>
    <h2>realtime geographic dashboard</h2>
  </header>
  <section id="maps">
    <div id="heat-map" class="map"></div>
    <div id="world-map" class="map"></div>
  </section>
</body>
